<div class="mx-auto w-full max-w-[550px]">
    <div class="max-w-2xl mx">
      <div class="flex items-center">
      </div>
      <%= link_to @collection.profile.nickname, profile_path(@collection.profile), class: 'font-bold hover:text-blue-600' %>
      <p class="mt-5 ml-2"><%= @collection.text %></p>

      <button type="button" class="h-8 px-4 py-1 font-semibold rounded-xl bg-green-500 hover:bg-green-600 text-white text-center">
        <%= link_to "Edit", edit_comment_path(@collection) %>
      </button>
      <button>
        <% if current_user.present? %>
          <%= button_to "Delete", comment_path(@collection), action: "destroy", method: :delete, local: true, class: "h-8 px-4 py-1 font-semibold rounded-xl bg-red-500 hover:bg-red-600 text-white text-center" %>
        <% end %>
      </button>
    </div>
    <!--      <div class="card">-->
    <!--        <div class="row">-->
    <!--          <div class="user">-->
    <!--            <div class="avatar">-->
    <%# if review.profile.avatar.attached? %>
    <%#= link_to user_path(review.profile) do %>
    <%#= image_tag review.profile.avatar %>
    <%# end %>
    <%# end %>
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
</div>
