<h3> Authors </h3>

<button> <%= link_to "Add author", new_author_path(@collection)  %> </button>
<div>
  <% @collections.each do |author| %>
    <p>Full name: <%= link_to("#{author.firstname} #{author.lastname}", edit_author_path(author)) %> </p>
  <% end %>
</div>
