<footer class="p-4 text-center bg-white rounded-lg shadow md:px-6 md:py-8">
  <hr class="my-6 sm:mx-auto lg:my-8" />
  <span class="block text-sm sm:text-center dark:text-gray-400">© 2023 <a href="" target="_blank" class="hover:underline">Alexandra Chernyak</a></span>
</footer>
